<footer class="footer wrapper">
  <div class="footer__inner clearfix">
    <article class="block block--col-1">
      <h2 class="as-h5">Visit</h2>
      <ul class="footer__list list-unstyled">
        <li class="footer__item"><a href="//www.ucl.ac.uk/bloomsbury-theatre">Bloomsbury Theatre and Studio</a></li>
        <li class="footer__item"><a href="//www.ucl.ac.uk/lccos/library-culture-collections-and-open-science-lccos">Library, Museums and Collections</a></li>
        <li class="footer__item"><a href="//www.ucl.ac.uk/maps">UCL Maps</a></li>
        <li class="footer__item"><a href="//studentsunionucl.org/shop">UCL Shop</a></li>
        <li class="footer__item"><a href="//www.ucl.ac.uk/about/contact-us">Contact UCL</a></li>
      </ul>
    </article>
    <article class="block block--col-2">
      <h2 class="as-h5">Students</h2>
      <ul class="footer__list list-unstyled">
        <li class="footer__item"><a href="//www.ucl.ac.uk/accommodation">Accommodation</a></li>
        <li class="footer__item"><a href="//www.ucl.ac.uk/students">Current Students</a></li>
        <li class="footer__item"><a href="//moodle.ucl.ac.uk/">Moodle</a></li>
        <li class="footer__item"><a href="//studentsunionucl.org/">Students' Union</a></li>
      </ul>
    </article>
    <article class="block block--col-3">
      <h2 class="as-h5">Staff</h2>
      <ul class="footer__list list-unstyled">
        <li class="footer__item"><a href="//app.ucl.ac.uk/InsideUCL/">Inside UCL</a></li>
        <li class="footer__item"><a href="//www.ucl.ac.uk/staff">Staff Intranet</a></li>
        <li class="footer__item"><a href="//www.ucl.ac.uk/work-at-url">Work at UCL</a></li>
        <li class="footer__item"><a href="//www.ucl.ac.uk/human-resources">Human Resources</a></li>
      </ul>
    </article>
    <hr class="clear">
    <ul class="footer__list list-unstyled zero-bottom">
      <li class="footer__item text-muted small">University College London,&nbsp;Gower Street,&nbsp;London,&nbsp;WC1E 6BT&nbsp;Tel:&nbsp;+44&nbsp;(0)&nbsp;20 7679 2000</li>
    </ul>
    <ul class="list-inline footer__list list-unstyled list-inline--divided">
      <li class="text-muted small">Copyright © {% now "Y" %} UCL</li>
      <li class="text-muted small"><a href="//www.ucl.ac.uk/legal-services/disclaimer">Disclaimer</a></li>
      <li class="text-muted small"><a href="//www.ucl.ac.uk/foi">Freedom of Information</a></li>
      <li class="text-muted small"><a href="//www.ucl.ac.uk/accessibility">Accessibility</a></li>
      <li class="text-muted small"><a href="//www.ucl.ac.uk/home/cookies-settings">Cookies</a></li>
      <li class="text-muted small"><a href="//www.ucl.ac.uk/legal-services/privacy">Privacy</a></li>
      <li class="text-muted small"><a href="//www.ucl.ac.uk/commercial-procurement/modern-day-slavery-statement">Slavery statement</a></li>
    </ul>
  </div>
</footer>
